.form{
   border:2px solid #f0ad4e;
   padding: 3%;
   border-radius:10px;
   margin-left: 20%;
   margin-right: 20%;
   margin-bottom: 75px;
   margin-top: 40px;
}
@media only screen and (max-width: 600px) {
   .form {
      margin-left:8%;
   margin-right:8%;
     
   }
 }

